[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
pandas = "*"
sqlalchemy = "*"

[packages]
django = "*"
psycopg2-binary = "*"
django-registration = "*"
libsass = "*"
django-compressor = "*"
django-sass-processor = "*"

[requires]
python_version = "3.7"
