{% extends 'generic/base.html' %}
{% block content %}
  <h2>Check out all these fancy Kickstarter Campaigns!</h2>
  <section class="pagination">
    <span class="step-links">
      {% if projects.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ projects.previous_page_number }}">previous</a>
      {% endif %}

        <span class="current">
          Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
        </span>

      {% if reviews.has_next %}
        <a href="?page={{ projects.next_page_number }}">next</a>
        <a href="?page={{ projects.paginator.num_pages }}">last &raquo;</a>
      {% endif %}

    </span>
  </section>
{% for project in projects %}
  <h3>{{ project.name }}</h3>
{% endfor %}
{% endblock content %}