$color-primary: #777;
$color-secondary: #bbb;
$color-error: red;
$color-success: lightgreen;
$color-white: #eee;
$color-black: black;
$color-lightgray: lightgray;
$color-gray: gray;
$color-highlight: gold;
$pad: 0.5em;
$font-primary: tahoma;
$font-secondary: 'Montserrat';
